body{
    font-family: open sans;
    background-color: #EAEAEA !important;
}
.col-sm-5{
    background-color: white !important;
    border-radius: 10px;
}
.col-sm-1{
    font-size: 36px !important;
    text-align: center;
    margin-top: 55px;
}